<component name="ArtifactManager">
  <artifact type="war" name="springbootsample:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springbootsample-1.0.1.war">
      <element id="artifact" artifact-name="springbootsample:war exploded" />
    </root>
  </artifact>
</component>